.dark-bg{
    background-color: #2e2b2b;
    padding-bottom: 60px;
}
.header{
    font-family: 'Comfortaa', cursive !important;
    color: lightsteelblue;
}

.paragraph{
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.paragraph-sm{
    font-family: 'Raleway', sans-serif;
    font-size: large;
    color: skyblue;
}
.career-top{
    padding-top: 120px !important;
}

.underline {
    padding-bottom: 5%;
    border-bottom: 3px solid steelblue;
}

.career-icon{
    padding-left: 50px;
}

.career-span{
    padding-left: 20px;
}

.career-content{
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.content-sm{
    padding-top: 60px !important;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }